<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css?v1.0">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
        crossorigin=""/>
    <script>
      window.logementsData = <%- JSON.stringify(logements) %>;
    </script>
    <title>Mon Site Airbnb</title>
</head>
<body>
  <header>
    <div class="titreh1">
      <h1>Bienvenue sur mon site TeddyBeer&Be</h1>
    </div>
  </header>
    <section>
      <% logements.forEach(logement => { %>
        <div class="bloc">
            <div class="bloc-img">
                <img src="<%= logement.images[0] %>" alt="Image du logement <%= logement.id %>">
            </div>
            <div class="bloc-texte">
                    <h3><%= logement.titre %></h3>
                    <p><strong>Nombre de personnes :</strong> <%= logement.nombre_de_personnes %></p>
                    <p><strong>Prix :</strong> <%= logement.prix %>  / nuit</p>
                    <a href="/logement/<%= logement.id %>">Voir les détails</a>
                </div>
            </div>
      <% }) %>
    </section>
    <section class="map-section">
      <h2 class="titre2">Une vue globale : </h2>
      <div id="map"></div>
    </section>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
<script src="/js/map.js"></script>
<script>
    // Initialisation après chargement
    document.addEventListener('DOMContentLoaded', () => {
        initMainMap(window.logementsData);
    });
</script>
</body>
</html>
