<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css?v1.0">
    <title>Mon Site Airbnb</title>
</head>
<body>
    <h1>Bienvenue sur mon site TeddyBeer&Be</h1>
    <section>
      <% logements.forEach(logement => { %>
        <div class="bloc">
            <div class="bloc-img">
                <img src="<%= logement.images[0] %>" alt="Image du logement <%= logement.id %>">
            </div>
            <div class="bloc-texte">
                    <h3><%= logement.titre %></h3>
                    <p><strong>Nombre de personnes :</strong> <%= logement.nombre_de_personnes %></p>
                    <p><strong>Prix :</strong> <%= logement.prix %>  / nuit</p>
                    <a href="/logement/<%= logement.id %>">Voir les détails</a>
                </div>
            </div>
      <% }) %>
    </section>
</body>
</html>
