<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= logement.titre %> - Détails</title>
  <link rel="stylesheet" href="/css/logement.css">
</head>
<body class="logement-page">

  <div class="card">
    <main class="carousel-container">
                <div class="carousel">
                    <div class="item active">
                    <img src="/img/trouver-un-logement-mdv.png.png" alt="Image 1" />
                    </div>
                    <div class="item">
                    <img src="/img/appartement.jpg" alt="Image 2" />
                    </div>
                    <div class="item">
                    <img src="https://bit.ly/3iMHuI1" alt="Image 3" />
                    </div>
                </div>
                <button class="btn prev">Prev</button>
                <button class="btn next">Next</button>
                <div class="dots"></div>
                </main>
    <div class="card-content">
      <h1 class="logement-titre"><%= logement.titre %></h1>
      <p><strong>Lieu :</strong> <%= logement.lieu %></p>
      <p><strong>Capacité :</strong> <%= logement.nombre_de_personnes %> personnes</p>
      <p><strong>Nombre de pièces :</strong> <%= logement.nombre_de_pièce %></p>
      <p><strong>Nombre de lits :</strong> <%= logement.nombre_de_lit %></p>
      <p class="prix"><strong>Prix :</strong> <%= logement.prix %> / nuit</p>

      <a href="/" class="btn-retour">← Retour à l'accueil</a>
    </div>
  </div>
<script src="/js/carrousel.js" defer></script>

</body>
</html>
